@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 background-color: #e5e7eb;
}

:root.dark {
  background-color: #13141a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}

.mod-cards {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.mod-card-descver {

}

.dark #__next > div[data-overlay-container] > nav > header {
  background-color: #0e0f14;
}

.dark #__next > div[data-overlay-container] > nav > header::before {
  background-color: transparent;
}

.stroke-fix, .stroke-fix path {
  stroke: currentColor !important;
}

#__next > div[data-overlay-container] > nav > header {
  background-color: #d7d9dc;
  border: none;
}

#__next > div[data-overlay-container] > nav {
  background-image: none;
}
